/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
li{
	list-style:none;
	margin-left: -10px;
	padding:2px;
	font-weight:bold;
}
div{
	background:whitesmoke;
	margin-left:10px;
	margin-right:10px;
	height:140px;
	border:2px solid black;
	border-radius:5px;
	
}
h1{
	text-align:center
}
h2{
	text-align:center;
}
h4{
	margin-left:10px;
}
.vdo_play{
	background:whitesmoke;
	width:535px;
	height:600px;
	margin-left:60px;
	margin-right:40px;
}
.player_one{
	background-color:rgb(255, 255, 255);
	width:90%;
	height:70%;
	display:block;background-color: rgb(255, 255, 255);
	margin:auto;
	padding:8px
}